<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.modules.statistics.service.mapper.DeptProductStatisticsMapper">

  <!-- 通用查询结果列 -->
  <!--
  <sql id="Base_Column_List">
      a.id, a.good_id, a.wh_id, a.count
  </sql>
  -->

    <select id="queryAll" resultType="me.zhengjie.modules.statistics.service.dto.DeptProductStatisticsDto">
        SELECT d.dept_id AS source_ID, d.`name` AS source_name,
        SUM(o.amount_count) AS product_count,
        SUM(o.amount_price) AS product_amount
        FROM sys_dept d
        LEFT JOIN tb_orders o ON o.source_id = d.dept_id AND o.order_type = 2 AND o.status = 2
        WHERE 1=1
        <if test="query.sourceName != null and query.sourceName != ''">
            AND d.name LIKE CONCAT('%', #{query.sourceName}, '%')
        </if>
        GROUP BY d.dept_id
    </select>

    <select id="getDetail" resultType="me.zhengjie.modules.statistics.service.dto.SupplierOfferDetailDto">
        SELECT o.order_no, o.order_type, o.date, g.g_code, g.g_name, g.specification, g.py_code, u.gu_name AS unitName,
        og.price, og.good_num AS count, og.total_price, w.wh_name, d.name AS source_name
        FROM tb_orders o
        LEFT JOIN tb_order_goods og ON og.order_id = o.id
        LEFT JOIN tb_goods_info g ON g.id = og.good_id
        LEFT JOIN tb_goods_unit u ON u.id = g.unit
        LEFT JOIN tb_warehouse w ON w.wh_id = o.wh_id
        LEFT JOIN sys_dept d ON d.dept_id = o.source_id
        WHERE o.order_type = 2 AND o.status = 2 AND d.dept_id = #{sourceId}
        ORDER BY o.order_date DESC
    </select>
</mapper>
