<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.modules.goodsinfo.service.mapper.TbGoodsInfoMapper">

  <!-- 通用查询结果列 -->
  <!--
  <sql id="Base_Column_List">
      a.id, a.g_code, a.g_name, a.specification, a.py_code, a.manufacturer, a.remark, a.bar_code, a.qr_code, a.type, a.model, a.weight, a.color, a.unit, a.purchase_price, a.sell_price, a.allocation, a.pic
  </sql>
  -->
    <select id="getInitialCount" resultType="me.zhengjie.modules.tb_order_goods.domain.TbOrderGoods">
      SELECT og.* FROM tb_orders o, tb_order_goods og
      where o.id = og.order_id
        AND o.wh_id = #{whId}
        AND o.order_type = 9
        AND og.good_id = #{goodId}
    </select>
</mapper>
