<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.modules.goodsinfo.service.mapper.TbGoodsInfoMapper">

  <!-- 通用查询结果列 -->
  <!--
  <sql id="Base_Column_List">
      a.id, a.g_code, a.g_name, a.specification, a.py_code, a.manufacturer, a.remark, a.bar_code, a.qr_code, a.type, a.model, a.weight, a.color, a.unit, a.purchase_price, a.sell_price, a.upper_limit, a.lower_limit, a.allocation, a.pic
  </sql>
  -->
</mapper>
