<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.modules.tb_goods_info.service.mapper.TbGoodsInfoMapper">

  <!-- 通用查询结果列 -->
  <!--
  <sql id="Base_Column_List">
      a.id, a.g_code, a.g_name, a.specification, a.py_code, a.g_unit, a.g_type, a.p_price, a.s_price, a.u_limit, a.l_limit, a.g_allocation, a.manufacturer, a.remark, a.batch, a.product_date, a.valid_date, a.source, a.bar_code, a.qr_code
  </sql>
  -->
</mapper>
