<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.modules.tb_product_order.service.mapper.TbProductOrderMapper">

  <!-- 通用查询结果列 -->
  <!--
  <sql id="Base_Column_List">
      a.id, a.order_no, a.order_date, a.order_person_id, a.order_person, a.in_date, a.in_wh_id, a.in_wh_name, a.dept_id, a.dept_name, a.origin_order_no, a.remark, a.status
  </sql>
  -->
</mapper>
