<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.modules.warehouse.service.mapper.TbWarehouseMapper">

  <!-- 通用查询结果列 -->
  <!--
  <sql id="Base_Column_List">
      a.wh_id, a.wh_name, a.dept_id, a.keeper_id, a.director_id, a.phone, a.address, a.goods_type, a.remark
  </sql>
  -->
  <select id="queryAll" resultType="me.zhengjie.modules.warehouse.service.dto.TbWarehouseDto">
    SELECT a.wh_id, a.wh_name, a.dept_id, a.keeper_id, a.director_id, a.phone, a.address, a.goods_type, a.remark, k.name as keeper, d.name as director, dept.name as dept_name
        FROM `tb_warehouse` a
        LEFT JOIN tb_employee k on a.keeper_id = k.id
        LEFT JOIN tb_employee d on a.director_id = d.id
        LEFT JOIN sys_dept dept on a.dept_id = dept.dept_id ${ew.customSqlSegment}
  </select>
</mapper>
