<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.modules.inventory.service.mapper.TbWhInventoryMapper">

  <!-- 通用查询结果列 -->
  <!--
  <sql id="Base_Column_List">
      a.id, a.good_id, a.wh_id, a.count
  </sql>
  -->
  <select id="queryByWareHouse" resultType="me.zhengjie.modules.inventory.service.dto.TbWhInventoryDto">
      SELECT g.id as good_id, w.wh_id, w.wh_name, g.g_code, g.g_name, g.py_code, g.specification, g.type AS type_id,
             t.gt_name AS type, g.model, g.weight, g.color, g.unit AS unit_id, u.gu_name AS unit, g.allocation, g.manufacturer, g.bar_code, g.qr_code,
             SUM(i.count) AS count, SUM(wg.lower_limit) AS lower_limit, SUM(wg.upper_limit) AS upper_limit
      FROM tb_wh_inventory i
          LEFT JOIN tb_goods_info g ON g.id = i.good_id
          LEFT JOIN tb_goods_type t ON t.id = g.type
          LEFT JOIN tb_goods_unit u ON u.id = g.unit
          LEFT JOIN tb_warehouse w ON w.wh_id = i.wh_id
          LEFT JOIN tb_wh_goods wg ON wg.wh_id = i.wh_id AND wg.good_id = i.good_id ${ew.customSqlSegment}
  </select>
    <select id="queryAllWareHouse" resultType="me.zhengjie.modules.inventory.service.dto.TbWhInventoryDto">
        SELECT g.id as good_id, '' as wh_id, '全部仓库' as wh_name, g.g_code, g.g_name, g.py_code, g.specification, g.type AS type_id,
               t.gt_name AS type, g.model, g.weight, g.color, g.unit AS unit_id, u.gu_name AS unit, g.allocation, g.manufacturer, g.bar_code, g.qr_code,
               SUM(i.count) AS count, SUM(wg.lower_limit) AS lower_limit, SUM(wg.upper_limit) AS upper_limit
        FROM tb_wh_inventory i
            LEFT JOIN tb_goods_info g ON g.id = i.good_id
            LEFT JOIN tb_goods_type t ON t.id = g.type
            LEFT JOIN tb_goods_unit u ON u.id = g.unit
            LEFT JOIN tb_wh_goods wg ON wg.wh_id = i.wh_id AND wg.good_id = i.good_id ${ew.customSqlSegment}
    </select>
    <select id="getWhInOutDetail" resultType="me.zhengjie.modules.inventory.service.dto.InventoryDetailDto">
        SELECT o.order_no, o.in_out_type, o.order_type, g.g_code, g.g_name, g.specification, g.py_code, u.gu_name AS unitName,
            og.price,
            (CASE WHEN og.pl_good_num IS NOT NULL THEN og.pl_good_num ELSE og.good_num END) AS count,
            (CASE WHEN og.pl_price IS NOT NULL THEN og.pl_price ELSE og.total_price END) AS total_price,
            w.wh_name,
            (CASE WHEN c.c_name IS NOT NULL THEN c.c_name ELSE
                (CASE WHEN d.name IS NOT NULL THEN d.name ELSE sw.wh_name END)
            END) AS source
        FROM tb_orders o
            LEFT JOIN tb_order_goods og ON og.order_id = o.id
            LEFT JOIN tb_goods_info g ON g.id = og.good_id
            LEFT JOIN tb_goods_unit u ON u.id = g.unit
            LEFT JOIN tb_warehouse w ON w.wh_id = o.wh_id
            LEFT JOIN tb_warehouse sw ON sw.wh_id = o.source_id
            LEFT JOIN tb_partner_company_info c ON c.id = o.source_id
            LEFT JOIN sys_dept d ON d.dept_id = o.source_id
        WHERE g.id = #{goodId} AND o.status = 2
        <if test="whId != null and whId != ''">
            AND (o.wh_id = #{whId} OR o.source_id = #{whId})
        </if>
        ORDER BY o.order_date DESC
    </select>
</mapper>
